Introducción a las listas

In [9]:
# Crear una lista
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
# Acceder a elementos de la lista por índice
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [11]:
# Modificar valores de la lista
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [12]:
# Determinar longitud de una lista con función lend
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [13]:
# Agregar valores a la lista con .append()
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [14]:
# Eliminar valores de la lista con .pop()
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

Índices Negativos

In [15]:
# Repaso elementos individuales
print("The first planet is", planets[0])

The first planet is Mercury

In [16]:
# Lons índices negativos van en cuenta regresiva
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

In [17]:
# Buscar valores en las listas con index()
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

Trabaja con números en listas

In [18]:
# Almacenar números en listas
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

In [19]:
# Crear una lista para almacenar valores de los planetas
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [21]:
# Calcular el peso de un bus de dos pisos en diferentes planetas obteniendo el valor de la lista

bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [22]:
# min() y max () con listas
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

Manipular datos de la lista

In [23]:
# Slice list (examinando solo una parte)
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [24]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [25]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [26]:
# Uniendo listas concatenando
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [27]:
# Ordenando listas con .sotr()
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [28]:
# ordenar una lista en forma inversa con el método .sort(reverse=True)
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']